    <div class="topnav" id="myTopnav">
      <a href="/employee/" class="">Add</a>
        <a href="/employee/list" class="">View</a> 
        <a href="/employee/addRent" class="">AddLori Rent</a>
        <a href="/employee/viewRent" class="">View Rent</a>
        <a href="/employee/individual" class="">Individual</a>
        <a href="/employee/account" class="">Account</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>


    <div class="col-md-8 offset-md-2 margin-top">
        <h3>
            <!--<a type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fa fa-plus"> </i> Check New
            </a>-->
            <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fa fa-filter"> </i> Filter
            </a>
        <Span>{{title}}</Span>
        </h3>


     
        <table class="table table-striped" id="list">
            <thead>
                <tr>

                    <th>Date</th>
                    <th>Driver</th>
                    <th>Load to</th>
                    <th>Rent</th>
                     <th>No of chack</th>

                </tr>
            </thead>
            <tbody>
                  {{#each usersDocuments}}
          
                
                    <tr>
                    
        
                            <td>{{this.date}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.load}}</td>
                            <td>{{this.rent}}</td>
                              <td>{{this.chack}}</td>
                  
                           
                    </tr>
                  
    
                   
        {{/each}}









                <tr>
                    <td colspan="3">Total Amount</td>
                    <td>{{total}}</td>
                </tr>
            </tbody>

        </table>

    </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Filter View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/employee/filterrent">
                        <div>

                            <p>
                                <label>Date</label><input type="date" placeholder="Date..." name="date"></p>
                            <p>

                                <p><label>Name of the Driver</label> <input list="browsers" name="browser" placeholder="Name of the driver" name="name">
                            
                                </p>

                        </div>

                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" href="/employee/list">View All</a>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                </form>
            </div>
        </div>
    </div>
